body {
    background: #cccccc
}
#banner {
    width:100%;
}
 #beneficios{
    height: 5000px;
    width: 1000;

 }

h1 {
    text-align: center
}
p  {
    text-align: center
}
#missao{

    font-size: 20px;
}

em strong {
    color  :greenyellow
}